    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users']">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/animations']">Animations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/open-close']">Open-close</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/void']">Void</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/card']">Card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/animationbuilder']">Animation-builder</a>
        </li>
      </ul>
      <hr>