<!-- <h3>Leela Web Dev</h3>
<app-course *ngFor="let course of courses;" [ngClass]="{ active : course.isActive }" [course]="course" (click)="changeActive(course)"></app-course> -->

<!-- ******* Emulated ShadowDOM & :host() ******* -->
<!-- <app-course class="is-Active1">
    <h2>Angular animations</h2>
</app-course>

<app-course class="is-Active2">
    <h2>Angular animations</h2>
</app-course> -->
<!-- ******* Emulated ShadowDOM & :host() ******* -->


<!-- ******* Emulated ShadowDOM & :host-context() ******* -->
<!-- <div class="content1">
    <div>
        <app-course class="is-Active1">
            <h2>Angular animations</h2>
        </app-course>
    </div>
</div>

<div class="content2">
    <app-course class="is-Active2">
        <h2>Angular animations</h2>
    </app-course>
</div> -->
<!-- ******* Emulated ShadowDOM & :host-context() ******* -->

<div class="container mt-4">
    <app-header></app-header>
    <div class="row overflow-hidden" [@routerState]="routerAnimationData(rOutlet)">
        <router-outlet #rOutlet="outlet"></router-outlet>
    </div>
</div>





<!-- <a [routerLink]="['/reactiveForm']">Reactive-form</a><br>
<router-outlet></router-outlet> -->